{% extends "base.html" %}

{% block head %}<link rel="stylesheet" href="{{ url_for('static',filename='home.css') }}">{% endblock %}
{% block title %}Home{% endblock %}

{% block body %}

    <div class="ContentMake">
        <a href="/makepost" class="CP">Create New Post</a>
    </div>
    {% for mesg in get_flashed_messages() %}
    <h1 style="text-align: center;color:red;">{{ mesg }}</h1>
    {% endfor %}
    <div class="row">
        <div class="leftcolumn">
        {% for tasks in tasks %}
          <div class="card">
            <h2>{{tasks.title}}</h2>
            <h5>{{Users.query.filter_by(id = tasks.user_id)[0].username}}, {{tasks.date_created}}</h5>

            <p>{{tasks.text}}</p>
          
            {% if admin %}
              <a class='admin' href="/delete/{{tasks.id}}">Delete</a><br><br><a class='admin' href="/update/{{tasks.id}}">Update</a>
            {% endif %}
          </div>

        {% endfor %}
        </div>
    </div>


{% endblock %}